# Игнорирование временных файлов и папок
*~
*.swp
.DS_Store
node_modules/
npm-debug.log

# Игнорирование файлов с настройками IDE
.idea/
.vscode/

# Игнорирование сгенерированных файлов

build/
out/
dist/
__test__/


# Игнорирование файлов с конфиденциальными данными
config.js
secrets.json

# Игнорирование логов и отчетов об ошибках
logs/
*.log

# Игнорирование файлов с паролями и ключами доступа
*.pem
*.key

# Игнорирование временных файлов редакторов кода
*.bak
*.backup
*.swp
